<ion-view>
    <ion-content class="forum">
        <ul class="list forum-list">
            <li class="item item-avatar item-text-wrap clearfix">
                <img src="images/sa6.jpg">
                <h2><span>元气少女Aki </span>分享单曲</h2>
                <p>7月6日</p>
                <p><span>#哪位歌手曾让你相见恨晚？#</span>  哥哥张国荣 无论是他的歌还是他的电影 都让我痴迷 讲真 没有听过看过张国荣是人生一大憾事</p>
                <div class="box"><img src="images/sa1.jpg"></div>
                <div class="box"><img style="margin-left:5px;" src="images/sa7.jpg"></div>
            </li>
            <div class="item item-thumbnail-left" style="margin-left:70px;margin-right:10px;">
                <img src="images/sa2.jpg">
                <h2>风再起时</h2>
                <p>张国荣</p>
            </div>
            <div class="text clearfix">
                <p>-根据你喜欢的风格推荐</p>
                <div class="icons">
                    <i class="icon ion-thumbsup"> 544 </i>
                    <i class="icon ion-ios-compose-outline"> 48 </i>
                    <i class="icon ion-ios-redo-outline"> 10 </i>
                </div>
            </div>
        </ul>
        <ul class="list forum-list">
            <li class="item item-avatar item-text-wrap clearfix">
                <img src="images/sa1.jpg">
                <h2><span>黑色铅笔 </span>分享单曲</h2>
                <p>7月6日</p>
                <p><span>#哪位歌手曾让你相见恨晚？#</span>  哥哥张国荣 无论是他的歌还是他的电影 都让我痴迷 讲真 没有听过看过张国荣是人生一大憾事</p>
                <div class="box"><img src="images/sa4.jpg"></div>
                <div class="box"><img style="margin-left:5px;" src="images/sa3.jpg"></div>
            </li>
            <div class="item item-thumbnail-left" style="margin-left:70px;margin-right:10px;">
                <img src="images/sa6.jpg">
                <h2>风再起时</h2>
                <p>张国荣</p>
            </div>
            <div class="text clearfix">
                <p>-根据你喜欢的风格推荐</p>
                <div class="icons">
                    <i class="icon ion-thumbsup"> 544 </i>
                    <i class="icon ion-ios-compose-outline"> 48 </i>
                    <i class="icon ion-ios-redo-outline"> 10 </i>
                </div>
            </div>
        </ul>
        <ul class="list forum-list">
            <li class="item item-avatar item-text-wrap clearfix">
                <img src="images/sa3.jpg">
                <h2><span>元气少女Aki </span>分享单曲</h2>
                <p>7月6日</p>
                <p><span>#哪位歌手曾让你相见恨晚？#</span>  哥哥张国荣 无论是他的歌还是他的电影 都让我痴迷 讲真 没有听过看过张国荣是人生一大憾事</p>
                <div class="box"><img src="images/sa6.jpg"></div>
                <div class="box"><img style="margin-left:5px;" src="images/sa1.jpg"></div>
            </li>
            <div class="item item-thumbnail-left" style="margin-left:70px;margin-right:10px;">
                <img src="images/sa5.jpg">
                <h2>风再起时</h2>
                <p>张国荣</p>
            </div>
            <div class="text clearfix">
                <p>-根据你喜欢的风格推荐</p>
                <div class="icons">
                    <i class="icon ion-thumbsup"> 544 </i>
                    <i class="icon ion-ios-compose-outline"> 48 </i>
                    <i class="icon ion-ios-redo-outline"> 10 </i>
                </div>
            </div>
        </ul>
        <ul class="list forum-list">
            <li class="item item-avatar item-text-wrap clearfix">
                <img src="images/sa3.jpg">
                <h2><span>元气少女Aki </span>分享单曲</h2>
                <p>7月6日</p>
                <p><span>#哪位歌手曾让你相见恨晚？#</span>  哥哥张国荣 无论是他的歌还是他的电影 都让我痴迷 讲真 没有听过看过张国荣是人生一大憾事</p>
                <div class="box"><img src="images/sa6.jpg"></div>
                <div class="box"><img style="margin-left:5px;" src="images/sa1.jpg"></div>
            </li>
            <div class="item item-thumbnail-left" style="margin-left:70px;margin-right:10px;">
                <img src="images/sa5.jpg">
                <h2>风再起时</h2>
                <p>张国荣</p>
            </div>
            <div class="text clearfix">
                <p>-根据你喜欢的风格推荐</p>
                <div class="icons">
                    <i class="icon ion-thumbsup"> 544 </i>
                    <i class="icon ion-ios-compose-outline"> 48 </i>
                    <i class="icon ion-ios-redo-outline"> 10 </i>
                </div>
            </div>
        </ul>
    </ion-content>
</ion-view>