
<ion-view>
    <ion-content class="songMenu">
        <div class="menu-top">
            <i class="icon ion-grid"> <span>全部歌单</span></i>
            <a href="#"><i class="icon ion-grid"></i> <span>选择分类</span></a>
        </div>
        <div class="box">
            <img src="images/header_03.jpg">
            <div>
                <h2>精品推荐</h2>
                <p>江湖神话：时光流逝，女神永恒</p>
            </div>
            <i class="icon ion-chevron-right"></i>
        </div>
        <ul class="row1">
            <li ng-repeat="product in products"><img ng-src="{{product.imgSrc}}">{{product.title}}</li>
            <ion-infinite-scroll on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
        </ul>
    </ion-content>

</ion-view>
