<ion-view>
    <ion-content class="music">
            <ul class="list">
                <li class="item item-icon-left">
                    <a href="#">
                        <i class="icon  ion-ios-copy-outline calm"></i>
                        <h2>本地音乐<span>(68)</span></h2>
                    </a>
                </li>
                <li class="item item-icon-left item-icon-right">
                    <a href="#">
                        <i class="icon ion-ios-clock-outline calm"></i>
                        <h2>最近播放<span>(100)</span></h2>
                    </a>
                    <i class="icon ion-ios-volume-high calm"></i>
                </li>
                <li class="item item-icon-left">
                    <a href="#">
                        <i class="icon ion-ios-download-outline calm"></i>
                        <h2>下载管理<span>(39)</span></h2>
                    </a>
                </li>
                <li class="item item-icon-left">
                    <a href="#">
                        <i class="icon ion-ios-person-outline calm"></i>
                        <h2>我的歌手<span>(28)</span></h2>
                    </a>
                </li>
                <li class="item item-icon-left item-icon-right item-divider" style="height:20px;">
                    <i style="font-size: 25px;" class="icon ion-ios-arrow-down"></i>
                    <p style="line-height:14px;">创建的歌单(4)</p>
                    <i style="font-size: 25px;" class="icon ion-ios-more"></i>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/sa4.jpg">
                    <h2>我喜欢的音乐</h2><br>
                    <p>12首</p>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/sa5.jpg">
                    <h2>经典说不出的爱</h2><br>
                    <p>23首</p>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/sa6.jpg">
                    <h2>那些你熟悉却又不知道名字的轻音乐</h2><br>
                    <p>35首</p>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/sa7.jpg">
                    <h2>给我一把吉他，还你一首民谣</h2><br>
                    <p>21首</p>
                </li>
                <li class="item item-icon-left item-icon-right item-divider" style="height:20px;">
                    <i style="font-size: 25px;" class="icon ion-ios-arrow-down"></i>
                    <p style="line-height:14px;">收藏的歌单(4)</p>
                    <i style="font-size: 25px;" class="icon ion-ios-more"></i>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/header4.jpg">
                    <h2>我喜欢的音乐</h2><br>
                    <p>12首</p>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/header3.jpg">
                    <h2>经典说不出的爱</h2><br>
                    <p>23首</p>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/header6.jpg">
                    <h2>那些你熟悉却又不知道名字的轻音乐</h2><br>
                    <p>35首</p>
                </li>
                <li class="item item-thumbnail-left">
                    <img src="images/header2.jpg">
                    <h2>给我一把吉他，还你一首民谣</h2><br>
                    <p>21首</p>
                </li>
            </ul>
    </ion-content>

</ion-view>
